@media (max-width: 1530px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .about .name {
    text-align: center;
  }
  .about .name h1 {
    line-height: 3.5rem;
    margin-bottom: 0;
  }
  .about .info {
    width: 40rem;
  }
  .about .info img {
    top: -6.5vh;
    left: -3vw;
    position: absolute;
  }

  .button {
    width: 20vw;
    border-radius: 2vw;
  }

  nav {
    width: 95%;
  }
}