body {
  font-family: "Prompt", "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  color: rgb(30, 39, 46);
}

.fullPage {
  height: 100vh !important;
}

.fullPage, .halfPage {
  width: 100%;
  height: 65vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0vh, rgb(255, 123, 83)), to(rgb(218, 42, 19)));
  background: linear-gradient(180deg, rgb(255, 123, 83) 0vh, rgb(218, 42, 19) 100%);
  padding: 0;
  margin: 0;
  position: relative;
}

.links {
  width: 100%;
  height: 4vh;
  padding: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1vw;
}
.links a {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 1vw;
}
.links a img {
  height: 100%;
  width: auto;
}

.about {
  height: 65vh;
}

.aboutMin {
  width: 88vw !important;
  height: 48vh;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  margin: 0 auto;
}

.about, .aboutMin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.about .name, .aboutMin .name {
  font-size: 2rem;
}
.about .name h1, .aboutMin .name h1 {
  font-weight: 1600;
  margin: 0;
  padding: 0;
}
.about .name span, .aboutMin .name span {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 0;
}
.about .info, .aboutMin .info {
  height: auto;
  width: 40rem;
  position: relative;
}
.about .info img, .aboutMin .info img {
  position: absolute;
  top: -9vh;
  left: -2vw;
  width: 7vw;
  border-radius: 100%;
  outline: 0.3vw white solid;
  outline-offset: -0.1vw;
}
.about .info div, .aboutMin .info div {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), color-stop(75%, rgb(255, 207, 178)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 207, 178) 75%);
  border-radius: 1.5vw;
  font-size: 1.5rem;
  text-indent: 4vw;
  height: 100%;
  padding: 1vw;
  color: rgb(30, 39, 46);
}

nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: 3.5rem;
  border-radius: 1.5vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), color-stop(75%, rgb(255, 207, 178)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 207, 178) 75%);
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(-0.01vw 0.01vh 0.1vw white);
          filter: drop-shadow(-0.01vw 0.01vh 0.1vw white);
}
.button div {
  color: rgb(30, 39, 46);
  font-size: 1.2rem;
  font-weight: 500;
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.5vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(226, 222, 222)), color-stop(75%, rgb(255, 154, 93)));
  background: linear-gradient(180deg, rgb(226, 222, 222) 0%, rgb(255, 154, 93) 75%);
  z-index: -1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  opacity: 0;
}

.button:hover::before {
  opacity: 1;
}

.separator {
  position: absolute;
  top: 96%;
  height: 5vh;
  width: 100vw;
  background: rgb(30, 39, 46);
}

.darkBG {
  background: linear-gradient(184deg, rgb(30, 39, 46) 0, rgb(15, 24, 31) 75%);
  height: 100%;
}

.projects {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 2vw;
  margin-bottom: 10vh;
  width: 85%;
}
.projects iframe {
  padding-top: 1rem;
  margin: 0 auto;
}
.projects .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  outline: 0.3rem solid rgb(255, 123, 83);
  -webkit-box-shadow: inset 0 0 0.75rem black;
          box-shadow: inset 0 0 0.75rem black;
  border-radius: 1.5vw;
  width: 30rem;
  height: auto;
  padding: 1vw;
  color: white;
}
.projects .item .itemTitle {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0.5rem;
  -webkit-filter: none;
          filter: none;
  display: block;
}
.projects .item .itemTime, .projects .item .itemJob {
  display: block;
  text-indent: 1vw;
  font-size: 1.1rem;
  font-style: italic;
  -webkit-filter: none;
          filter: none;
}
.projects .item .itemDetail {
  font-size: 1.1rem;
  -webkit-filter: none;
          filter: none;
}
.projects .item .itemSection {
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-filter: none;
          filter: none;
}
.projects .item .itemType {
  position: absolute;
  z-index: 1;
  top: -0.78rem;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-filter: none;
          filter: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.projects .item .itemType div {
  width: auto;
  padding: 0 2rem;
  margin: 0 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0vh, rgb(255, 123, 83)), to(rgb(218, 42, 19)));
  background: linear-gradient(180deg, rgb(255, 123, 83) 0vh, rgb(218, 42, 19) 100%);
  border-radius: 1.5vw;
  -webkit-filter: none;
          filter: none;
  text-align: right;
  color: white;
}
.projects .item .itemType div span {
  display: block;
  width: auto;
  text-align: center;
}
.projects .item ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1rem;
}
.projects .item ul li {
  font-size: 1.1rem;
}
.projects .item ul li::before {
  content: "-";
  padding-right: 1.5rem;
}
.projects .item img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.75vw;
}
.projects .item a {
  margin: 1vh auto 0 auto;
  color: white;
  background: linear-gradient(184deg, rgb(30, 39, 46) 0, rgb(15, 24, 31) 75%);
  -webkit-filter: drop-shadow(-0.01vw 0.01vh 0.1vw rgb(30, 39, 46));
          filter: drop-shadow(-0.01vw 0.01vh 0.1vw rgb(30, 39, 46));
}
.projects .item a::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(83, 93, 101)), to(rgb(30, 39, 46)));
  background: linear-gradient(180deg, rgb(83, 93, 101) 0%, rgb(30, 39, 46) 100%);
}