@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: bold;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  background: #2f3542;
  color: #f1f2f6;
  font-family: "Noto Sans", Tahoma, Verdana, Helvetica;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 0;
}
header h2 {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}
header span {
  font-weight: 800;
  color: #ffffff;
}

#about {
  margin: 0 15% 0 15%;
  background: #ff6348;
  padding: 2.5rem;
  border-radius: 0.75rem;
  -webkit-box-shadow: -0.25rem 0.25rem 0 #eccc68;
          box-shadow: -0.25rem 0.25rem 0 #eccc68;
  margin-bottom: 2rem;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 80vw;
  margin: 0 auto;
}
.experience a {
  padding: 5rem;
  background: #5352ed;
  width: 25rem;
  height: 8rem;
  border-radius: 0.75rem;
  -webkit-box-shadow: -0.25rem 0.25rem 0 #70a1ff;
          box-shadow: -0.25rem 0.25rem 0 #70a1ff;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border: 0.25rem solid #5352ed;
}
.experience a:hover {
  border: 0.25rem solid white;
  -webkit-box-shadow: 0 0 0.5rem white, -0.25rem 0.25rem 0 #70a1ff;
          box-shadow: 0 0 0.5rem white, -0.25rem 0.25rem 0 #70a1ff;
}

p {
  font-family: "Noto Sans";
  font-size: 1.25rem;
}

footer {
  background: #57606f;
  padding: 1.25rem;
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 0.4rem;
  border-radius: 0.75rem;
  -webkit-box-shadow: -0.25rem 0.25rem 0 #747d8c;
          box-shadow: -0.25rem 0.25rem 0 #747d8c;
}
footer div {
  position: absolute;
  top: 20%;
  right: 0;
  margin: 1rem;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer div img {
  width: 2.5rem;
}