@media (max-width: 854px) {
  .links {
    height: 3vh;
    gap: 4vw;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
  }
  .about .name {
    font-size: 1.75rem;
    text-align: center;
  }
  .about .name h1 {
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }
  .about .name span {
    font-size: 1.1rem;
  }
  .about .info {
    width: 18rem;
  }
  .about .info img {
    top: -3.5vh;
    left: -5vw;
    width: 4.5rem;
    outline: 1vw white solid;
    outline-offset: -0.3vw;
  }
  .about .info div {
    font-size: 1.2rem;
    text-indent: 3rem;
    padding: 1rem;
    border-radius: 5%;
  }

  .aboutMin {
    height: 35vh;
  }

  nav {
    margin-top: 2rem;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }

  .button {
    width: 9rem;
    border-radius: 8vw;
  }

  .projects {
    padding-top: 2rem;
    gap: 2rem;
  }
  .projects .item {
    border-radius: 3vw;
  }
  .projects .button {
    text-align: center;
  }
}