@font-face 
    font-family: "Noto Sans"
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype")
    font-weight: normal
    font-style: normal

@font-face
    font-family: "Noto Sans"
    src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype")
    font-weight: 800
    font-style: bold

@font-face
    font-family: "Noto Sans"
    src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype")
    font-weight: normal
    font-style: italic

@font-face
    font-family: "Noto Sans"
    src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype")
    font-weight: 800
    font-style: italic

body
    margin: 0
    padding: 0
    background: #2f3542
    color: #f1f2f6
    font-family: "Noto Sans", Tahoma, Verdana, Helvetica

header
    h1
        text-align: center
        font-size: 4rem
        font-weight: 800
        color: #ffffff
        margin-bottom: 0
    h2
        text-align: center
        font-style: italic
        font-weight: 100
    span
        font-weight: 800
        color: #ffffff

#about
    margin: 0 15% 0 15%
    background: #ff6348
    padding: 2.5rem
    border-radius: 0.75rem
    box-shadow: -0.25rem 0.25rem 0 #eccc68
    margin-bottom: 2rem

.experience
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 1rem
    a
        padding: 5rem
        background: #5352ed
        width: 28vw
        height: 3rem
        border-radius: 0.75rem
        box-shadow: -0.25rem 0.25rem 0 #70a1ff
        color: white
        text-decoration: none
        font-weight: 800
        font-size: 1.5rem

        transition: 0.1s ease-in-out
        border: 0.25rem solid #5352ed
    a:hover
        border: 0.25rem solid white
        box-shadow: 0 0 0.5rem white, -0.25rem 0.25rem 0 #70a1ff

p
    font-family: "Noto Sans"
    font-size: 1.25rem

