$darkbg: linear-gradient(184deg,rgba(30, 39, 46,1.0) 0,rgba(15, 24, 31,1) 75%)
$darkbg2: linear-gradient(180deg, rgba(83,93,101,1) 0%, rgba(30,39,46,1) 100%)
$darksolid: rgba(30, 39, 46, 1.0)

$lightbg: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,207,178,1) 75%)
$lightbg2: linear-gradient(180deg, rgba(226,222,222,1) 0%, rgba(255,154,93,1) 75%)
$lightsolid: white
    
body
    font-family: "Prompt", "Montserrat", sans-serif
    padding: 0
    margin: 0
    
    color: $darksolid

.fullPage
    height: 100vh !important

.fullPage, .halfPage
    width: 100%
    height: 65vh

    background: linear-gradient(180deg, rgba(255,123,83,1) 0vh, rgba(218,42,19,1) 100%)
    
    padding: 0
    margin: 0

    position: relative

.links
    width: 100%
    height: 4vh
    padding: 1vh 0

    display: flex
    justify-content: flex-end
    gap: 1vw

    a
        display: block

        height: 100%
        width: auto

        margin-right: 1vw
        img
            height: 100%
            width: auto

.about
    height: 65vh

.aboutMin
    width: 88vw !important
    height: 48vh
    justify-content: flex-start !important

    margin: 0 auto


.about, .aboutMin
    display: flex
    justify-content: space-around
    align-items: center
    
    color: $lightsolid

    .name
       font-size: 2rem
       h1
           font-weight: 1600
           margin: 0
           padding: 0

       span
           font-size: 1.5rem
           font-style: italic
           font-weight: 0

    .info
        height: 30%
        width: 35vw

        position: relative
        img
            position: absolute
            top: -9vh
            left: -2vw

            width: 7vw
            border-radius: 100%

            outline: 0.3vw $lightsolid solid
            outline-offset: -0.1vw
            
        div
            background: $lightbg
            border-radius: 1.5vw

            font-size: 1.5rem
            text-indent: 4vw

            height: 100%

            padding: 1vw

            color: $darksolid

nav
    width: 70vw

    display: flex
    justify-content: space-around

    margin: 0 auto
    padding: 0

.button
    display: flex

    width: 12vw
    height: 5vh
    border-radius: 1.5vw

    background: $lightbg
    text-decoration: none

    justify-content: center
    align-items: center
    filter: drop-shadow(-0.01vw 0.01vh 0.1vw $lightsolid)

    div
        color: $darksolid
        font-size: 1.2rem
        font-weight: 500

.button::before
    position: absolute
    content: ""
    top: 0
    right: 0
    bottom: 0
    left: 0

    border-radius: 1.5vw
    background: $lightbg2
    z-index: -1
    transition: opacity 0.1s linear
    opacity: 0

.button:hover::before
    opacity: 1


.separator
    position: absolute
    top: 96%

    height: 5vh
    width: 100vw

    background: $darksolid

.darkBG
    background: $darkbg
    height: 100%
    

.projects
    height: 100%
    flex-grow: 1
    margin: 0 auto
    padding-top: 2vh

    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: flex-start
    align-content: flex-start
    gap: 2vw

    margin-bottom: 10vh

    .item
        display: flex
        flex-direction: column

        background: $lightbg
        border-radius: 1.5vw
        width: 30rem
        height: auto
        padding: 1vw

        filter: drop-shadow(-0.01vw 0.01vh 0.1vw $lightsolid)


        .itemTitle
            font-size: 2rem
            font-weight: 800

            display: block

        .itemTime, .itemJob
            display: block

            text-indent: 1vw
            font-size: 1.1rem
            font-style: italic

        .itemDetail
            font-size: 1.1rem

        .itemSection
            font-size: 1.1rem
            font-weight: bold

        .itemType
            position: absolute
            left: 58%
            width: 12rem

            background: linear-gradient(180deg, rgba(255,123,83,1) 0vh, rgba(218,42,19,1) 100%)
            border-radius: 1.5vw

            text-align: right
            color: white

        .itemType span
            display: block
            width: 100%
            text-align: center

        ul
            list-style: none
            margin: 0
            padding: 0 0 0 1rem
            li
                font-size: 1.1rem

            li::before
                content: "-"
                padding-right: 1.5rem

        img
            width: 100%
            margin-top: 1rem
            border-radius: 0.75vw

        a
            margin: 1vh auto 0 auto
            color: white
            background: $darkbg
            filter: drop-shadow(-0.01vw 0.01vh 0.1vw $darksolid)

        a::before
            background: $darkbg2
