@media(max-width: 854px)
    header
        padding-bottom: 1rem
        h1
            font-size: 3.5rem
            line-height: 4rem
            margin-bottom: 1.25rem
        h2
            font-size: 1rem
    #about
        margin: 0 2% 0 2%
        margin-bottom: 1rem
        padding: 0.5rem
        p
            font-size: 1.15rem
    
    .experience
        width: 95vw
        a
            width: 9rem
            height: 7rem
            padding: 0
            display: flex
            align-items: center
            justify-content: center
            div
                text-align: center

    .contact
        width: 80vw
        form
            input
                width: 7rem
                padding: 0.5rem
                font-size: 1rem
            textarea
                padding: 0.5rem
                font-size: 1rem
                height: 10rem

    footer
        width: 75vw 
        flex-direction: column
        p
            font-size: 1rem
            text-align: center
        div
            width: 100%